::selection {
	background: #B7DDE8; /* Safari */
	color: black;
	}
::-moz-selection {
	background: #B7DDE8; /* Firefox */
	color: black;
}

body {
	background-color: #252525;
}

.col-lg-8 {
	border: 1px solid #B7DDE8;
	background-color: #333333;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.col-lg-4 {
}

.navbar {
  background-color: white;
  position: fixed;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  width: 100%;
  opacity: 1;
}

.navbar-brand {
  float: right;  
  font-size: 22px;
  
}

.navbar-header {
	color: black;
	font-family: 'Poiret One', cursive;
	font-weight: 600;
}


.navbar-inverse .navbar-brand {
	color: black;
  	transition: 0.4s ease 0s;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #B7DDE8;
}

.navbar-toggle {
  float: left;
  margin-left: 5px;
  background-color: black;
}

.navbar-collapse li {
	transition: 0.5s ease 0s;
}
.navbar-collapse li:hover{
  	background-color: #B7DDE8;
}
.navbar-collapse li:active{
	background-color: grey;
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color:  #92b0b9;
}

.navbar-inverse .navbar-nav > li > a {
	color: black;
}
.navbar

.carousel-h1 {
	font-family: 'Gafata', sans-serif;
	background-color: black;
	opacity: 0.8;
	border-radius: 20px;

}

.img-headshot {
	border-radius: 10%;
	margin-right: 10%;
	margin-left: 10%;
	width: 80%;

}
.row {
 	 background-color: #252525;
 	 color: white;
 	 font-size: 1.1em;
 }

.row p { 
	font-family: 'Gafata', sans-serif;
}
.row h2 {
	text-align: center;
	color: #B7DDE8;
	font-family: 'Muli', sans-serif;

}

footer {
	padding: 2%;
	margin-top: 25px;
	background-color: black;
	padding: 10%;
}

footer p {
	color: white;
}

.glyphicon {
	color: white;
	transition: 0.5s ease 0s;
}

.glyphicon:hover {
	color: orange;
}



@media (min-width: 768px) {
	.navbar { 
		margin-top: -20px;
				border-radius: 0px;

	}

	.navbar .container{
		border-radius: 0px;
	}
}